.score {
  padding-right: 20px;
  padding-bottom: 10px;
  width: 280px;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 34px;
  color: #fff;
  text-transform: initial;
  text-align: right;
  border-bottom: 2px solid #fff;
}
