.asteroid {
  position: absolute;
  top: 0;
  height: 30px;
  width: 30px;
  //background: url('/assets/imgs/asteroid.png');
  //background-size: cover;
  //background-color: tomato;
}

.asteroid__skin {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}

.asteroid--md {
  height: 100px;
  width: 100px;
}

.asteroid--lg {
  height: 150px;
  width: 150px;
}
